<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Вход</h1>

    <div class="form-floating">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-floating">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check text-start my-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <%= f.submit "Войти", class: "btn btn-primary w-100 py-2" %>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
